.logo{
	display: block;
	margin: 0 auto;
	width: 300px;
}
.carousel-item {
	height: 100vh;
	min-height: 500px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.custom_overlay_wrapper { position: relative; }

.custom_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: rgba(255, 255, 255, .9);
	opacity: 0;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

.custom_overlay:hover {
	opacity: 1;
}

.custom_overlay_inner {
	position: absolute;
	top: 50%;
	left: 10px;
	right: 10px;
	transform: translateY(-50%);
}

.custom_overlay h4 {
	position: relative;
	margin-bottom: 4px;
}

.custom_overlay p { 
	color: #000;
	line-height: 1.4em;
}

.custom_overlay h4:after {
	background-color: red;
	content: "";
	position: absolute;
	left: 35%;
	right: 35%;
	bottom: 0;
	height: 4px;
}

/*------------------- TABLET ------------------*/
@media only screen and ( min-width: 600px ) and ( max-width: 999px ) {
	.custom_overlay h4 { font-size: 80%;}
	.custom_overlay p { 
		font-size: 85%;
		line-height: 1.2em;
	}
}

/*------------------- MOBILE ------------------*/
@media only screen and ( max-width: 599px ) {
	.custom_overlay h4 { font-size: 100%;}
	.custom_overlay p { font-size: 100%;}
}
.centrado{
	color: rgb(255,255,255);
	background-color: rgba(0,0,0,0.2);
	position: static;
	max-width: 550px;
	padding: 0 20px;
	margin-top: 200px;
	text-align: justify;
	margin: 200px auto;
	font-size:0.4vh;
}
.desayuno th, td {
	padding-left: 15px;
}
@media only screen and (min-height: 700px) {
	.centrado{
		font-size:1vh;
	}
}
